.ui.visible.vertical.left.sidebar.menu{
  top: 0px;
}
.navbar-default.sidebar{
  top: 0 !important;
}

.disabledLink {
  color: #ccc;
  pointer-events:none;
  cursor: not-allowed;
  opacity: .3;
}

.ui.text.container.raised.segment{
	margin-left: 5% !important;
}

div#errorDivMan{
    margin-left: 5%;
    width: 61.5%;
}

div#errorDivTech{
  margin-left: 5%;
  width: 61.5%;
}

div#errorDivUser{
  margin-left: 5%;
  width: 61.5%;
}

div.header > div.navbar.navbar-default{
margin-bottom: 0px;
}

div.header > div.navbar-default > div.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 15px;
}

div.container > div.container > div.container > div.pusher{
  width: 80%;
  margin-top: 2%;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
  background-color: #eee;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 3.4%;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}

#wrapper {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 30%;
  right: 0;
}

div.editor {
  position: absolute;
  width: 80%;
  height: 80%;
}

a.reader {
  position: absolute;
  right:    25%;
  bottom:   5%;
}

a.reader:last-child{
  position: absolute;
  right:    15%;
  bottom:   5%;
}

a.polyerror {
  position: absolute;
  right:    18%;
  bottom:   10%;
}

a.polyerror:last-child{
  position: absolute !important;
  right:    5% !important;
  bottom:   10% !important;
}

a.polyerror:nth-last-child(2) {
  position: absolute;
  right:    5%;
  bottom:   10%;
}


a.ui.right.floated.header {
  width: 85%;
  position: fixed;
  text-align: right;
}

.editted {
  border:2px solid red !important;
}

.polling {
  -webkit-animation-name: pulseBorder;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 0.5s;
  text-align:center;
  border:2px solid green !important;
}

.read {
  border:2px solid green !important;
}

.actionRead {
  border:2px solid green !important;
}

.image.centered {
  text-align: center;
}

.header.centered {
  text-align: center;
}

.fa-6x {
  font-size: 6em !important;
}

@-webkit-keyframes pulseBorder {
  from {
    border: solid 2px #00ff00;
  }
  to {
    border: solid 2px #008f00;

  }
}

input[type="number"].modifiedSpinner {
  position: relative;
  margin: 0 0 1rem;
  border: 1px solid #BBB;
  border-color: #BBB #ECECEC #ECECEC #BBB;
  padding: .2rem;
  height: 40px;
}

/* Spin Buttons modified */
input[type="number"].modifiedSpinner::-webkit-outer-spin-button,
input[type="number"].modifiedSpinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #FFF url(https://image.flaticon.com/icons/svg/36/36874.svg
  ) no-repeat center center;
  width: 50%;
  border-left: 1px solid #BBB;
  opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
input[type="number"].modifiedSpinner::-webkit-inner-spin-button:hover,
input[type="number"].modifiedSpinner::-webkit-inner-spin-button:active{
  box-shadow: 0 0 2px #0CF;
  opacity: 1;
}

fieldset.objectFieldset {
  width: 101%;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 0 !important;
  padding-right: 5px !important;
  border: 2px solid silver !important;
}

#volumcontroller {
  height: 35px;
  width: 90px;
}
#volumcontroller div{
  height:40px;
}
.volumecontrollerbar{
  border-left:1px solid #222;
  float:right;
  width:3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  background-color: #4c4c4c;
  cursor:pointer;
}.volumecontrollerbar:hover{
   background-color:#bcbcbc !important;
 }
