<div style="width: 80%; margin-top: 2%;" class="ui yellow message" ng-show="!coapAvailable">
  <i ng-click="coapAvailable = !coapAvailable" class="close icon"></i>
  <!--<div class="header">-->
  <!--CoAP Polyfill proxy is not running. CoAP calls would not work.-->
  <!--</div>-->
  <i class="info icon"></i>
  CoAP Polyfill proxy is not running.
  <div class="">
    <a class="ui primary button polyerror" href="https://hudson.eclipse.org/californium/job/tools/lastSuccessfulBuild/artifact/cf-polyfill.jar" target="_blank">Download Cf-Polyfill</a>
    <a class="ui button polyerror" ng-show="!loading" ng-click="checkPolyfill()">Retry</a>
	<a class="ui button loading polyerror" ng-show="loading">Retry</a>
  </div>
</div>
<div style="width: 45%; margin-left:20%; margin-top: 10%;">
  <!--<div class="collapse navbar-collapse" id="js-navbar-collapse">-->

  <!--<ul class="nav navbar-nav">
    <li><a ui-sref="addTDURI">Add From URI</a></li>
    <li><a ui-sref="addTDFile">Add From File</a></li>
    <li><a ui-sref="addTDRepo">Add From Repo</a></li>
  </ul>-->
  <div class="ui two column grid">
    <div class="column">
      <div class="ui link cards">
        <div class="card">
          <a class="image centered" ui-sref="addTDURI">
            <!--<img src="/images/avatar/large/steve.jpg">-->
            <i class="fa fa-cloud-download fa-5x fa-6x fa-fw"></i>
          </a>
          <div class="content">
            <a class="header centered" ui-sref="addTDURI">Add From URI</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui link cards">
        <div class="card">
          <a class="image centered" ui-sref="addTDFile">
            <!--<img src="/images/avatar/large/steve.jpg">-->
            <i class="fa fa-paperclip fa-5x fa-6x fa-fw"></i>
          </a>
          <div class="content">
            <a class="header centered" ui-sref="addTDFile">Add From File</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui two column grid">
    <div class="column">
      <div class="ui link cards">
        <div class="card">
          <a class="image centered" ui-sref="addTDRepo">
            <!--<img src="/images/avatar/large/steve.jpg">-->
            <i class="fa fa-university fa-5x fa-6x fa-fw"></i>
          </a>
          <div class="content">
            <a class="header centered" ui-sref="addTDRepo">Add From Repo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui link cards">
        <div class="card">
          <a class="image centered" ui-sref="editor">
            <!--<img src="/images/avatar/large/steve.jpg">-->
            <i class="fa fa-file-text fa-5x fa-6x fa-fw"></i>
          </a>
          <div class="content">
            <a class="header centered" ui-sref="editor">Editor</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->

  <!--<div class="container">
    <div ui-view="addtd"></div>
  </div>-->
</div>
