<div style="width: 35%; margin-left:20%; margin-top: 10%;">
  <!--<div class="collapse navbar-collapse" id="js-navbar-collapse">-->

  <!--<ul class="nav navbar-nav">
    <li><a ui-sref="addTDURI">Add From URI</a></li>
    <li><a ui-sref="addTDFile">Add From File</a></li>
    <li><a ui-sref="addTDRepo">Add From Repo</a></li>
  </ul>-->
  <div class="ui two column grid">
    <div class="column">
      <div class="ui link cards">
        <div class="card">
          <a class="image" ui-sref="addTDURI">
            <!--<img src="/images/avatar/large/steve.jpg">-->
            <i class="fa fa-cloud-download fa-5x fa-fw"></i>
          </a>
          <div class="content">
            <a class="header" ui-sref="addTDURI">Add From URI</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui link cards">
        <div class="card">
          <a class="image" ui-sref="addTDFile">
            <!--<img src="/images/avatar/large/steve.jpg">-->
            <i class="fa fa-paperclip fa-5x fa-fw"></i>
          </a>
          <div class="content">
            <a class="header" ui-sref="addTDFile">Add From File</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui two column grid">
    <div class="column">
      <div class="ui link cards">
        <div class="card">
          <a class="image" ui-sref="addTDRepo">
            <!--<img src="/images/avatar/large/steve.jpg">-->
            <i class="fa fa-university fa-5x fa-fw"></i>
          </a>
          <div class="content">
            <a class="header" ui-sref="addTDRepo">Add From Repo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui link cards">
        <div class="card">
          <a class="image" ui-sref="editor">
            <!--<img src="/images/avatar/large/steve.jpg">-->
            <i class="fa fa-file-text fa-5x fa-fw"></i>
          </a>
          <div class="content">
            <a class="header" ui-sref="editor">Editor</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->

  <!--<div class="container">
    <div ui-view="addtd"></div>
  </div>-->
</div>
