<!--<p>This is the renderTD view.</p>-->
<!--<div style="width: 30%; margin-left:20%" class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="js-navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a ui-sref="renderTDUser">User</a></li>
      <li><a ui-sref="renderTDManager">Manager</a></li>
      <li><a ui-sref="renderTDTechnician">Technician</a></li>
    </ul>
  </div>
</div>-->
<div class="container">
  <div style="margin-left: 5% !important; width: 70% !important;" ui-view="rendertd"></div>
</div>
