<!--
<p>This is the viewWidgets view.</p>
-->

<h1 style="padding-left:6em">For Light Intensity</h1>
<div style="padding-left:11em">
 <input type="text" class="dial"> <br><br>
</div>
<!--<ui-knob style="padding-left:11em" value="value" options="options"></ui-knob>-->

<canvas id="cvs" width="600" height="250">
  [No canvas support]
</canvas>

<h1 style="padding-left:4em">For Air Conditioner or Heater</h1>

<div style="padding-left:14em">
  <canvas id="cvsThermometer" width="100" height="400">
    [No canvas support]
  </canvas>
</div>
<div style="padding-left:14em">
  <canvas id="gauge-id"></canvas>
</div>

<h1 style="padding-left:4em">Misc</h1>

<label for="input-number-mod">Modified Spin-Buttons (just Chrome)</label>
<input id="input-number-mod" min="23" max="30" class="modifiedSpinner" type="number" value="25" />

<br>
<div class="ui fitted toggle checkbox">
  <input type="checkbox" checked>
  <label></label>
</div>

<br>
<input type="text" id="slider_id" name="slider_name" value="" />


